<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<div id="app">
		<div  v-for="(field, index) in fields" v-text='field.name' @click="changePdf(field, index)"></div>
			<button v-on:click="left()" > << </button>
			<iframe width="500px" height="600px" :src="current" alt="" ></iframe>
			<button v-on:click="right()" > >> </button>
		</div>
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="index.js"></script>

</html>